<!-- tile -->
<div class="tile">
  <!--<h2>Ajout d'un nouveau projet</h2>-->
  <section class="tile-body">

    <form name="projectForm" class="form-validation" role="form" ng-submit="modal.submitForm()"
          novalidate validate-on-submit>
      <div class="form-group">
        <input ng-model="modal.form.projectCode" type="text" class="form-control rounded"
               placeholder="Code Projet">
      </div>
      <div class="form-group">
        <input ng-model="modal.form.client" type="text" class="form-control rounded" id="client"
               placeholder="Client">
      </div>
      <div class="form-group">
        <input ng-model="modal.form.projectName" type="text" class="form-control rounded"
               id="projectName" placeholder="Nom du projet">
      </div>
      <div class="form-group">
        <div class="col-sm-15">
          <div class="row">
            <div class="col-xs-2">
              <input ng-model="modal.form.aV" type="number" class="form-control rounded" id="aV"
                     placeholder="Av-vente">
            </div>
            <div class="col-xs-2">
              <input ng-model="modal.form.crea" type="number" class="form-control rounded" id="crea"
                     placeholder="Créa">
            </div>
            <div class="col-xs-2">
              <input ng-model="modal.form.tech" type="number" class="form-control rounded" id="tech"
                     placeholder="Tech">
            </div>
            <div class="col-xs-2">
              <input ng-model="modal.form.redac" type="number" class="form-control rounded"
                     id="redac" placeholder="Rédac">
            </div>
            <div class="col-xs-2">
              <input ng-model="modal.form.other" type="number" class="form-control rounded" id="other"
                     placeholder="Autre">
            </div>
            <div class="col-xs-2">
              <input ng-model="modal.form.projectManagement" type="number"
                     class="form-control rounded" id="projectManagement" placeholder="Gestion de projet">
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">

          <div class="col-sm-15">

            <label class="col-sm-2 control-label minotaur-label">Date de livraison</label>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-4" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.deliveryDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                        close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
            <label class="col-sm-2 control-label minotaur-label">Date de production</label>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-4" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.productionDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                        close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group">

          <div class="col-sm-15">

          <label class="col-sm-2 control-label minotaur-label">Chef de projet</label>
          <div class="col-sm-4">
            <select ng-model="modal.form.projectManager" type="text"
                    class="form-control"
                    chosen="{width: '100%'}">
              <option value=”” disabled selected>Chef de projet</option>
              <option ng-repeat="user in modal.model.items" value="{{user.name+user.firstName}}">{{user.firstName+" "+user.name}}</option>
            </select>
          </div>
        </div>
        <label class="col-sm-2 control-label minotaur-label">Directeur clientèle</label>
        <div class="col-sm-4">
          <select ng-model="modal.form.dirCli" type="text"
                  class="form-control"
                  chosen="{width: '100%'}">
            <option value=”” disabled selected>Directeur clientèle</option>
            <option ng-repeat="user in modal.model.items" value="{{user.name}}">{{user.firstName+" "+user.name}}</option>
          </select>
        </div>
      </div>
      </div>

      <div class="form-group">
        <div class="col-sm-4">
          <input ng-model="modal.form.subContracting" type="text" class="form-control rounded"
                 id="subContracting" placeholder="Sous-traitance">
        </div>

        <div class="col-sm-4">
          <input ng-model="modal.form.totalAmount" type="text" class="form-control rounded"
                 id="totalAmount" placeholder="Montant total">
        </div>

        <div class="col-sm-4">
          <input ng-model="modal.form.comment" type="text" class="form-control rounded"
                 id="comment" placeholder="Commentaire">
        </div>
      </div>
      <br/><br/>

      <div class="row">
        <div class="form-group">

          <div class="col-sm-15">
          <label class="col-sm-2 control-label minotaur-label">Dates de facturation:</label>
          <br/><br/>

          <div class="bill">
            <span>1er versement</span>
            <div class="col-xs-3">
              <input ng-model="modal.form.firstBillRate" type="number" class="form-control rounded" id="fb"
                     placeholder="%">
            </div>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-10" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.firstBillDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                       close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>

          <div class="bill">
            <span>2e versement</span>
            <div class="col-xs-3">
              <input ng-model="modal.form.secondBillRate" type="number" class="form-control rounded" id="sb"
                     placeholder="%">
            </div>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-10" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.secondBillDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                       close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>

          <div class="bill">
            <span>3e versement</span>
            <div class="col-xs-3">
              <input ng-model="modal.form.thirdBillRate" type="number" class="form-control rounded" id="tb"
                     placeholder="%">
            </div>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-10" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.thirdBillDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                       close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>

          <div class="bill">
            <span>4e versement</span>
            <div class="col-xs-3">
              <input ng-model="modal.form.forthBillRate" type="number" class="form-control rounded" id="ffb"
                     placeholder="%">
            </div>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-10" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.forthBillDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                       close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>

          <div class="bill">
            <span>5e versement</span>
            <div class="col-xs-3">
              <input ng-model="modal.form.fifthBillRate" type="number" class="form-control rounded" id="fib"
                     placeholder="%">
            </div>
            <!-- controller is located in ui-elements/ui-elements.controller.js -->
            <div class="col-sm-10" ng-controller="DatepickerPopupController as ctrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}"
                       ng-model="modal.form.fifthBillDate" is-open="ctrl.popup1.opened"
                       datepicker-options="ctrl.dateOptions"
                       close-text="Close"/>
                <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="ctrl.open1($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                            </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group form-footer text-right">
        <button type="submit" class="btn btn-cyan btn-ef btn-ef-7 btn-ef-7h mb-10" activate-button="success"
        ><i class="fa fa-envelope"></i>
          Submit Form
        </button>
      </div>

    </form>

  </section>
</div>
