<!-- row -->
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <section class="tile-header">
        <h1 class="heading">Ajout d'un nouveau Talent</h1>
      </section>
      <section class="tile-body">

        <form name="talentForm" class="form-validation" role="form" ng-submit="modal.submitForm()"
              novalidate validate-on-submit>
      <div class="form">

        <div class="form-group">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-xs-4">
                <label for="job" class="minotaur-label">Métier</label>
                <select ng-model="modal.form.job" type="text" id="job"
                        class="form-control" chosen="{width: '100%'}">
                  <option value="crea">Créa</option>
                  <option value="tech">Tech</option>
                  <option value="redac">Rédac</option>
                  <option value="projectManagement">Gestion de projet</option>
                  <option value="other">Autre</option>
                </select>
              </div>


              <div class="col-xs-4">
                <label for="level" class="minotaur-label">Niveau</label>
                <select ng-model="modal.form.level" type="text" id="level"
                        class="form-control" chosen="{width: '100%'}">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <br/><br/><br/><br/>

        <div class="form-group">
          <label for="email" class="minotaur-label">Email address</label>
          <input id="email" autofocus="" class="form-control input-sm" type="email" name="email"
                 ng-model="modal.form.email" value="">
        </div>

        <div class="form-group">
          <label for="firstName" class="minotaur-label">Prénom</label>
          <input id="firstName" type="text" class="form-control input-sm" name="firstName"
                 ng-model="modal.form.firstName" value="">
        </div>

        <div class="form-group">
          <label for="name" class="minotaur-label">Nom</label>
          <input id="name" type="text" class="form-control input-sm" name="name" ng-model="modal.form.name"
                 value="">
        </div>

        <div class="form-group form-footer text-right">
          <button type="submit" class="btn btn-cyan btn-ef btn-ef-7 btn-ef-7h mb-10" activate-button="success"
          ><i class="fa fa-envelope"></i>
            Submit Form
          </button>
        </div>
      </div>
        </form>
      </section>
    </div>
  </div>
</div>
</div>


