<div class="navbar-header">
  <button type="button" class="header-nav-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false" aria-controls="header-navbar">
    <span class="sr-only">Toggle header</span>
    <i class="fa fa-cog"></i>
  </button>
  <a class="navbar-header" ui-sref="dashboard">
    <img id="logoActance" src="/assets/images/gallery/logo.jpg">
  </a>
  <button type="button" class="navigation-toggle" id="navigation-toggle">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-bars"></i>
  </button>
</div>
<div class="main-search hidden-xs">
  <form>
    <input type="text" class="form-control" placeholder="Search...">
    <button class="btn">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>

