<div class="page page-tables pull-to-header" ng-controller="PlanningController as planning">

   <div>
      <code>$scope.model</code>
      <pre ng-bind="planning.model | json" style="max-height: 500px;"></pre>
  </div>

  <div ng-show="planning.lastSlotMeta">
    Les données du prochain slot sont :
    <ul>
      <li><strong>Projet : </strong>{{planning.lastSlotMeta.project}}</li>
      <li><strong>Client : </strong>{{planning.lastSlotMeta.client}}</li>
    </ul>
  </div>

  <weekly-scheduler class="scheduler"
                    on-slot-added="planning.onSlotAdded"
                    get-slot-text="planning.getSlotText"
                    items="planning.localModel.items"
                    on-change="planning.onChange"
                    on-delete="planning.onChange"
                    should-merge-two-slots="planning.shouldMergeTwoSlots"
                    options="planning.localModel.options">
    <div class="srow">{{::$index + 1}}. {{item.name}}</div>
  </weekly-scheduler>

  <div class="pull-right">
    <button class="btn btn-success" ng-click="planning.saveLocalItems()">Save changes</button>
    <button class="btn btn-success" role="button" ng-click="model.items.push({label: 'New Item'})">Add new item</button>
  </div>
</div>